@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* definierar standard textfärg */
  --background-start-rgb: 255, 255, 255; /* vit färg för ljusläget */
  --background-end-rgb: 255, 255, 255; /* bibehållen vit färg för gradientens slut */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* textfärg för mörkt läge */
    --background-rgb: 0, 0, 0; /* bakgrundsfärg för mörkt läge */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb)); /* uppdaterad för att använda startfärg */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
